In [16]:
import pandas as pd

In [33]:
df_coordenadas = pd.read_csv("Coordenadas_Estaciones_A-3.csv", usecols=['id', 'lat', 'lon'])
df_coordenadas.head()

df_estaciones = pd.DataFrame({
    'Nombre': df_coordenadas['id'],
    'Fo_Tipoelemento': 5,
    'FechaBaja': None
})
df_estaciones.head()

    Nombre  Fo_Tipoelemento FechaBaja
0  M-708-0                5      None
1  M-808-0                5      None
2  M-108-0                5      None
3  M-139-0                5      None
4   M-43-0                5      None

In [34]:
df_historicos = pd.read_excel("datos_historicos_sacyr.xlsx", sheet_name="Estaciones")
df_historicos.drop(['Provincia', 'Carretera', 'Tipo de estación', 'V_Ligeros', 'V_Pesados'], axis=1, inplace=True)

# Merge the coordinates into df_historicos using the 'Estación' column from df_historicos and 'id' from df_coordenadas
df_historicos = df_historicos.merge(df_coordenadas, left_on='Estación', right_on='id', how='left')

# Create the 'Coordenadas' column in the POINT (lat lon) format
df_historicos['Coordenadas'] = df_historicos.apply(lambda row: f"POINT ({row['lat']} {row['lon']})", axis=1)

# Rename the 'V_Total' column to 'intensidad'
df_historicos.rename(columns={'V_Total': 'Intensidad', 'Estación': 'Fo_Elemento'}, inplace=True)

# Drop the 'id', 'lat', and 'lon' columns as they are no longer needed
df_historicos.drop(['id', 'lat', 'lon'], axis=1, inplace=True)

# Convert 'Dia' and 'Hora' columns to datetime format
df_historicos['Fecha'] = pd.to_datetime(df_historicos['Dia']) + pd.to_timedelta(df_historicos['Hora'], unit='h')
# Drop the 'Dia' and 'Hora' columns as they are no longer needed
df_historicos.drop(['Dia', 'Hora', 'Pk'], axis=1, inplace=True)

# convert 'Fecha' to timestamp
df_historicos['Fecha'] = df_historicos['Fecha'].astype('datetime64[ns]')

# rename Calzada to Sentido_EsAscendente, being true if Calzada == 1 and false if Calzada == 2
df_historicos['Sentido_EsAscendente'] = df_historicos['Calzada'].apply(lambda x: True if x == 1 else False)
# Drop the 'Calzada' column as it is no longer needed
df_historicos.drop(['Calzada'], axis=1, inplace=True)

# rename Carril to Carriles
df_historicos.rename(columns={'Carril': 'Carriles '}, inplace=True)

display(df_historicos.head())

,Fo_Elemento,Carriles,Intensidad,Coordenadas,Fecha,Sentido_EsAscendente
0,M-708-0,1,880,POINT (40.39443 -3.63972),2022-01-01 00:00:00,True
1,M-708-0,1,765,POINT (40.39443 -3.63972),2022-01-01 01:00:00,True
2,M-708-0,1,391,POINT (40.39443 -3.63972),2022-01-01 02:00:00,True
3,M-708-0,1,225,POINT (40.39443 -3.63972),2022-01-01 03:00:00,True
4,M-708-0,1,151,POINT (40.39443 -3.63972),2022-01-01 04:00:00,True

In [35]:
from sqlalchemy import create_engine

# Create the engine for PostgreSQL
engine = create_engine("postgresql://adminpg:KRZEy5fxQyNmmVjeUseQ@srvbu-bd:5432/BITAL_SACYR_ICONICA")

# add the files to the table B_Elementos
#df_estaciones.to_sql('B_Elementos', engine, if_exists='append', index=False, method='multi', chunksize=1000)

# add the files to the table HIS_Elemento_Posiciones

In [ ]:
# Añado Ids

df_estaciones['id'] = df_estaciones.index + 8

# Create a mapping from Nombre to id using df_estaciones
mapping = df_estaciones.set_index('Nombre')['id'].to_dict()

# Replace the values in df_historicos['Fo_Elemento'] using the mapping
df_historicos['Fo_Elemento'] = df_historicos['Fo_Elemento'].map(mapping)

display(df_historicos.head())

# drop the rows with NaN values
df_historicos.dropna(subset=['Fo_Elemento'], inplace=True)

# print the number of rows before inserting
print(f"Number of rows before inserting: {len(df_historicos)}")

#inster data into HIS_Elemento_Posiciones 
# df_historicos.to_sql('HIS_Elemento_Posiciones', engine, if_exists='append', index=False, method='multi', chunksize=1000)

print("Data inserted successfully into HIS_Elemento_Posiciones")

,Fo_Elemento,Carriles,Intensidad,Coordenadas,Fecha,Sentido_EsAscendente
0,8.0,1,880,POINT (40.39443 -3.63972),2022-01-01 00:00:00,True
1,8.0,1,765,POINT (40.39443 -3.63972),2022-01-01 01:00:00,True
2,8.0,1,391,POINT (40.39443 -3.63972),2022-01-01 02:00:00,True
3,8.0,1,225,POINT (40.39443 -3.63972),2022-01-01 03:00:00,True
4,8.0,1,151,POINT (40.39443 -3.63972),2022-01-01 04:00:00,True

Number of rows before inserting: 526772
Data inserted successfully into HIS_Elemento_Posiciones